@import "../../../../stylesheets/mixins.scss";
@import "../../../../stylesheets/variables.scss";

.header__logo {
  max-height: 40px
}

.header .nav-item {
  font-size: 13px;
}

.header .nav-item .nav-link {
  color: #B9B7BA;
  text-decoration: underline;
}

.header .nav-item .nav-link.active {
  color: #C17211;
  background-color: white
}
.navbar {
  background-color: white;
  border: none;
}
.header {
  padding-bottom: 10px;
  border-bottom: 2px solid #C5C3C6;
}

