.container.header.clearfix
  nav.navbar.navbar-default
    .container-fluid
      ul.nav.navbar-nav.navbar-right
        li.nav-item
          a.nav-link(ui-sref="home" ui-sref-active="active") Home
        li.nav-item
          a.nav-link(ui-sref="courses.index" ui-sref-active="active") Courses
        li.nav-item
          a.nav-link(ui-sref="users.index" ui-sref-active="active") Users
      img.header__logo(src="https://apiary.a.ssl.fastly.net/assets/136bf1f4d06a3c9e57d406fde367eba8.png" alt="logo")